.scroll-hide-track::-webkit-scrollbar {
    width: 6px;
}

.scroll-hide-track::-webkit-scrollbar-thumb {
    background-color: #C7C8CE;
    border-radius: 3px;
}

.scroll-hide-track::-webkit-scrollbar-track {
    background: transparent;
}
