name: CI/CD with Gradle and Docker

on:
  push:
    branches: [ "backend/app-develop" ]
  pull_request:
    branches: [ "backend/app-develop" ]

jobs:
  build-docker-image:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: false;
      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Setup application.yml
        run: |
          mkdir -p ./backend/src/main/resources
          
          echo "${{ secrets.APPLICATION_YML }}" > ./backend/src/main/resources/application.yml

        shell: bash

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@af1da67850ed9a4cedd57bfd976089dd991e2582 # v4.0.0

      - name: Build with Gradle Wrapper
        run: |
          cd backend
          ./gradlew clean build -x test

      - name: docker image build
        if: github.event_name == 'push'
        run: docker build -t ${{ secrets.DOCKER_USERNAME }}/pathos:latest ./backend

      - name: docker login
        if: github.event_name == 'push'
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: docker Hub push
        if: github.event_name == 'push'
        run: docker push ${{ secrets.DOCKER_USERNAME }}/pathos:latest

  run-docker-image-on-ec2:
    needs: build-docker-image
    if: github.event_name == 'push'
    runs-on: self-hosted
    steps:
      - name: docker pull
        run: sudo docker pull ${{ secrets.DOCKER_USERNAME }}/pathos:latest

      - name: docker stop container
        run: sudo docker stop pathos || true

      - name: docker run new container
        run: sudo docker run --name pathos --rm -d -p 8080:8080 ${{ secrets.DOCKER_USERNAME }}/pathos:latest

      - name: delete old docker image
        run: sudo docker image prune -f
